@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost">

<div class="text-center">
    <div style="padding-bottom: 3px;">
        <button class="btn hr-btn" onclick="location.replace('Employee/Index')">
            <p>HUMAN RESOURCES</p>
            <i class="bi bi-people" style="font-size: 60px;"></i>
        </button>
        <button class="btn ps-btn">
            <p>PAYROLL SYSTEM</p>
            <i class="bi bi-cash-coin" style="font-size: 60px;"></i>
        </button>
    </div>
    <div>
        <button class="btn pm-btn">
            <p>PRODUCT MANAGEMENT</p>
            <i class="bi bi-boxes" style="font-size: 60px;"></i>
        </button>
        <button class="btn dc-btn">
            <p>DISCUSSION</p>
            <i class="bi bi-chat-left-dots" style="font-size: 60px;"></i>
        </button>
    </div>
</div>

<style>
    /* body {
        background-color: #013952;
    } */

    .btn {
        background-color: transparent;
        width: 250px;
        height: 250px;
        border: 2px solid white;
        border-radius: 1.5em;
        color: white;
        cursor: pointer;
        text-align: center;
        font-family: "Jost";
        font-size: 30px;
        font-weight: 600;
    }

        .btn:hover, .btn:focus {
            color: #fff;
            outline: 0;
        }

    .btn {
        -webkit-transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
        transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
    }

    .hr-btn:hover {
        box-shadow: 0 0 130px 130px #EB9532 inset;
        color: #013952;
    }
    .ps-btn:hover {
        box-shadow: 0 0 130px 130px #16A085 inset;
        color: #013952;
    }
    .pm-btn:hover {
        box-shadow: 0 0 130px 130px #C4C63F inset;
        color: #013952;
    }
    .dc-btn:hover {
        box-shadow: 0 0 130px 130px #C63F3F inset;
        color: #013952;
    }
</style>